[submodule "lib/valantis-core"]
	path = lib/valantis-core
	url = git@github.com:ValantisLabs/valantis-core.git
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = 0.8
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
[submodule "lib/v3-core-sot"]
	path = lib/v3-core-sot
	url = https://github.com/ValantisLabs/v3-core-sot
	branch = main
